In [1]:
# Import packages
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd
# Download data and extract the table with Beautiful Soup
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_url,'lxml')
My_table = soup.find('table',{'class':'wikitable sortable'})
# Extract columns and rows from the Wikipedia table
A=[]
B=[]
C=[]
 
for row in My_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [2]:
# Create Pandas dataframe
df=pd.DataFrame(A,columns=['Postal Code'])
df['Borough']=B
df['Neighborhood']=C

In [3]:
# Drop boroughs with the value 'Not assigned'
df = df[df.Borough != 'Not assigned']

In [4]:
# Import Numpy
import numpy as np
# Merge rows based on same Postal Code area
df.groupby('Postal Code').sum().replace(0,np.nan)
# Reset index
df = df.reset_index(drop=True)

In [5]:
# Change of 'Not assigned' neighborhood values to borough's values
df = df.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(','.join).reset_index()

In [6]:
# Print number of rows and columns
df.shape

(103, 3)

In [7]:
df.head()

  Postal Code      Borough                          Neighborhood
0         M1B  Scarborough                         Rouge,Malvern
1         M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough     Guildwood\n,Morningside,West Hill
3         M1G  Scarborough                                Woburn
4         M1H  Scarborough                             Cedarbrae